# Gerando regras de associação com o A-Priori

Bibliotecas necessárias:

In [1]:
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
df_notas = pd.read_csv(r'C:/Users/JdMacGyver/Desktop/Fisica/Master/DS/BR_BAIXA.csv')

In [3]:
df_notas.head(10)

,NT_GER,QE_I02,QE_I03,QE_I04,QE_I05,QE_I06,QE_I07,QE_I08,QE_I09,QE_I10,...,QE_I17,QE_I18,QE_I19,QE_I20,QE_I21,QE_I22,QE_I23,QE_I24,QE_I25,QE_I26
0,BAIXA,Q02D,Q03A,Q04D,Q05E,Q06C,Q07C,Q08B,Q09B,Q10B,...,Q17D,Q18D,Q19B,Q20H,Q21A,Q22B,Q23C,Q24D,Q25A,Q26A
1,BAIXA,Q02D,Q03A,Q04D,Q05C,Q06C,Q07C,Q08A,Q09F,Q10A,...,Q17A,Q18A,Q19C,Q20K,Q21A,Q22C,Q23C,Q24E,Q25H,Q26H
2,BAIXA,Q02D,Q03A,Q04E,Q05F,Q06B,Q07F,Q08E,Q09D,Q10B,...,Q17A,Q18B,Q19B,Q20C,Q21A,Q22E,Q23E,Q24A,Q25E,Q26A
3,BAIXA,Q02A,Q03A,Q04E,Q05E,Q06A,Q07A,Q08A,Q09F,Q10D,...,Q17B,Q18A,Q19A,Q20B,Q21A,Q22A,Q23E,Q24C,Q25E,Q26I
4,BAIXA,Q02D,Q03A,Q04E,Q05B,Q06D,Q07A,Q08A,Q09A,Q10A,...,Q17A,Q18D,Q19F,Q20C,Q21A,Q22E,Q23E,Q24A,Q25B,Q26I
5,BAIXA,Q02D,Q03A,Q04B,Q05B,Q06C,Q07D,Q08A,Q09C,Q10A,...,Q17A,Q18D,Q19G,Q20H,Q21B,Q22C,Q23B,Q24B,Q25A,Q26A
6,BAIXA,Q02D,Q03A,Q04D,Q05D,Q06B,Q07E,Q08C,Q09B,Q10A,...,Q17A,Q18A,Q19B,Q20A,Q21A,Q22B,Q23B,Q24D,Q25A,Q26A
7,BAIXA,Q02D,Q03A,Q04D,Q05C,Q06B,Q07D,Q08B,Q09C,Q10A,...,Q17B,Q18A,Q19A,Q20H,Q21B,Q22C,Q23B,Q24E,Q25H,Q26A
8,BAIXA,Q02D,Q03A,Q04A,Q05D,Q06B,Q07D,Q08B,Q09A,Q10A,...,Q17A,Q18A,Q19C,Q20G,Q21B,Q22C,Q23E,Q24A,Q25H,Q26A
9,BAIXA,Q02D,Q03A,Q04E,Q05D,Q06A,Q07A,Q08F,Q09B,Q10A,...,Q17E,Q18A,Q19B,Q20C,Q21A,Q22A,Q23E,Q24E,Q25B,Q26F

In [16]:
df_notas = df_notas.drop(columns=['QE_I03'])

In [17]:
df_notas.head(5)

,NT_GER,QE_I02,QE_I04,QE_I05,QE_I06,QE_I07,QE_I08,QE_I09,QE_I10,QE_I11,...,QE_I17,QE_I18,QE_I19,QE_I20,QE_I21,QE_I22,QE_I23,QE_I24,QE_I25,QE_I26
0,BAIXA,Q02D,Q04D,Q05E,Q06C,Q07C,Q08B,Q09B,Q10B,Q11A,...,Q17D,Q18D,Q19B,Q20H,Q21A,Q22B,Q23C,Q24D,Q25A,Q26A
1,BAIXA,Q02D,Q04D,Q05C,Q06C,Q07C,Q08A,Q09F,Q10A,Q11A,...,Q17A,Q18A,Q19C,Q20K,Q21A,Q22C,Q23C,Q24E,Q25H,Q26H
2,BAIXA,Q02D,Q04E,Q05F,Q06B,Q07F,Q08E,Q09D,Q10B,Q11A,...,Q17A,Q18B,Q19B,Q20C,Q21A,Q22E,Q23E,Q24A,Q25E,Q26A
3,BAIXA,Q02A,Q04E,Q05E,Q06A,Q07A,Q08A,Q09F,Q10D,Q11A,...,Q17B,Q18A,Q19A,Q20B,Q21A,Q22A,Q23E,Q24C,Q25E,Q26I
4,BAIXA,Q02D,Q04E,Q05B,Q06D,Q07A,Q08A,Q09A,Q10A,Q11A,...,Q17A,Q18D,Q19F,Q20C,Q21A,Q22E,Q23E,Q24A,Q25B,Q26I

#### Passo preliminar: transformar os dados em itemsets (formato de entrada do algoritmo).

In [18]:
te = TransactionEncoder()
te_ary = te.fit(df_notas.values).transform(df_notas.values)
df_ = pd.DataFrame(te_ary, columns=te.columns_)

In [19]:
df_.head(5)

,BAIXA,Q02A,Q02B,Q02C,Q02D,Q02E,Q02F,Q04A,Q04B,Q04C,...,Q25H,Q26A,Q26B,Q26C,Q26D,Q26E,Q26F,Q26G,Q26H,Q26I
0,True,False,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,True,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,True,False,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,True,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

# O procedimento de geração de regras de associação é basicamente realizado em dois passos.

#### 1° passo: descobrir os itemsets frequentes.

In [77]:
frequent_itemsets = apriori(df_, min_support=0.2, use_colnames=True)

#### 2° passo: descobrir as regras de associação

In [78]:
rules = association_rules(frequent_itemsets, metric='confidence')

In [79]:
rules.head(6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Q02A),(BAIXA),0.432198,1.0,0.432198,1.0,1.0,0.0,inf
1,(Q02D),(BAIXA),0.399475,1.0,0.399475,1.0,1.0,0.0,inf
2,(Q04B),(BAIXA),0.375248,1.0,0.375248,1.0,1.0,0.0,inf
3,(Q04D),(BAIXA),0.246441,1.0,0.246441,1.0,1.0,0.0,inf
4,(Q05B),(BAIXA),0.338688,1.0,0.338688,1.0,1.0,0.0,inf
5,(Q05D),(BAIXA),0.266136,1.0,0.266136,1.0,1.0,0.0,inf

In [84]:
asc_rules = rules[['antecedents', 'consequents', 'confidence']]

In [85]:
asc_rules.tail(10)

,antecedents,consequents,confidence
18738,"(Q13A, Q18A, Q21A, Q12A, Q24E, Q17A)","(Q14A, BAIXA)",0.988768
18739,"(Q13A, Q18A, Q21A, Q24E, BAIXA, Q17A)","(Q14A, Q12A)",0.961940
18740,"(Q18A, Q14A, Q21A, Q12A, Q24E, Q17A)","(Q13A, BAIXA)",0.905885
18741,"(Q18A, Q14A, Q21A, Q24E, BAIXA, Q17A)","(Q13A, Q12A)",0.854789
18742,"(Q18A, Q21A, Q12A, Q24E, BAIXA, Q17A)","(Q13A, Q14A)",0.894406
18743,"(Q13A, Q18A, Q21A, Q24E, Q17A)","(Q14A, BAIXA, Q12A)",0.961940
18744,"(Q18A, Q14A, Q21A, Q24E, Q17A)","(Q13A, BAIXA, Q12A)",0.854789
18745,"(Q18A, Q21A, Q12A, Q24E, Q17A)","(Q13A, Q14A, BAIXA)",0.894406
18746,"(Q18A, Q21A, Q24E, BAIXA, Q17A)","(Q13A, Q14A, Q12A)",0.842292
18747,"(Q18A, Q21A, Q24E, Q17A)","(Q13A, Q14A, BAIXA, Q12A)",0.842292

#### Filtro para pegar as regras que envolvem rendimento

In [86]:
df_new = pd.DataFrame()

for i in range(len(asc_rules)):
    if "BAIXA" in (asc_rules['consequents'][i]):
        df_new[i] = asc_rules.loc[i]

df_new = df_new.transpose()

#### Regras Geradas

In [87]:
df_new

,antecedents,consequents,confidence
0,(Q02A),(BAIXA),1
1,(Q02D),(BAIXA),1
2,(Q04B),(BAIXA),1
3,(Q04D),(BAIXA),1
4,(Q05B),(BAIXA),1
5,(Q05D),(BAIXA),1
6,(Q06B),(BAIXA),1
7,(Q06C),(BAIXA),1
8,(Q07C),(BAIXA),1
9,(Q07D),(BAIXA),1
10,(Q08A),(BAIXA),1
11,(Q08B),(BAIXA),1
12,(Q09B),(BAIXA),1
13,(Q09C),(BAIXA),1
14,(Q09E),(BAIXA),1
15,(Q10A),(BAIXA),1
16,(Q10E),(BAIXA),1
17,(Q11A),(BAIXA),1
18,(Q11B),(BAIXA),1
20,(Q12A),(BAIXA),1
21,(Q13A),(BAIXA),1
23,(Q14A),(BAIXA),1
25,(Q15A),(BAIXA),1
26,(Q17A),(BAIXA),1
27,(Q18A),(BAIXA),1
28,(Q19B),(BAIXA),1
29,(Q20A),(BAIXA),1
30,(Q20C),(BAIXA),1
31,(Q21A),(BAIXA),1
32,(Q21B),(BAIXA),1
...,...,...,...
18694,"(Q13A, Q18A, Q14A, Q21A, Q24E, Q15A)","(BAIXA, Q12A)",0.980488
18696,"(Q13A, Q18A, Q21A, Q12A, Q24E, Q15A)","(Q14A, BAIXA)",0.980816
18698,"(Q18A, Q14A, Q21A, Q12A, Q24E, Q15A)","(Q13A, BAIXA)",0.895337
18701,"(Q13A, Q18A, Q14A, Q21A, Q24E)","(BAIXA, Q12A, Q15A)",0.82806
18702,"(Q13A, Q18A, Q21A, Q12A, Q24E)","(Q14A, BAIXA, Q15A)",0.831584
18704,"(Q13A, Q18A, Q21A, Q24E, Q15A)","(Q14A, BAIXA, Q12A)",0.961198
18705,"(Q18A, Q14A, Q21A, Q24E, Q15A)","(Q13A, BAIXA, Q12A)",0.859545
18706,"(Q18A, Q21A, Q12A, Q24E, Q15A)","(Q13A, Q14A, BAIXA)",0.873981
18708,"(Q13A, Q18A, Q24E, Q21A)","(Q14A, BAIXA, Q12A, Q15A)",0.811404
18709,"(Q18A, Q21A, Q24E, Q15A)","(Q13A, Q14A, BAIXA, Q12A)",0.837923
18711,"(Q13A, Q18A, Q14A, Q12A, Q24E, Q23B, Q15A)",(BAIXA),1
18715,"(Q13A, Q18A, Q14A, Q12A, Q24E, Q23B)","(BAIXA, Q15A)",0.836485
18717,"(Q13A, Q18A, Q14A, Q24E, Q23B, Q15A)","(BAIXA, Q12A)",0.980975
18719,"(Q13A, Q18A, Q12A, Q24E, Q23B, Q15A)","(Q14A, BAIXA)",0.986944
18721,"(Q18A, Q14A, Q12A, Q24E, Q23B, Q15A)","(Q13A, BAIXA)",0.914709
18724,"(Q13A, Q18A, Q14A, Q24E, Q23B)","(BAIXA, Q12A, Q15A)",0.816742
18725,"(Q13A, Q18A, Q12A, Q24E, Q23B)","(Q14A, BAIXA, Q15A)",0.825313
18727,"(Q13A, Q18A, Q24E, Q23B, Q15A)","(Q14A, BAIXA, Q12A)",0.967686
18728,"(Q18A, Q14A, Q24E, Q23B, Q15A)","(Q13A, BAIXA, Q12A)",0.881068
18729,"(Q18A, Q12A, Q24E, Q23B, Q15A)","(Q13A, Q14A, BAIXA)",0.90147
18731,"(Q13A, Q18A, Q24E, Q23B)","(Q14A, BAIXA, Q12A, Q15A)",0.805337
18732,"(Q18A, Q24E, Q15A, Q23B)","(Q13A, Q14A, BAIXA, Q12A)",0.867811
18733,"(Q13A, Q18A, Q14A, Q21A, Q12A, Q24E, Q17A)",(BAIXA),1
18737,"(Q13A, Q18A, Q14A, Q21A, Q24E, Q17A)","(BAIXA, Q12A)",0.973655
18738,"(Q13A, Q18A, Q21A, Q12A, Q24E, Q17A)","(Q14A, BAIXA)",0.988768
18740,"(Q18A, Q14A, Q21A, Q12A, Q24E, Q17A)","(Q13A, BAIXA)",0.905885
18743,"(Q13A, Q18A, Q21A, Q24E, Q17A)","(Q14A, BAIXA, Q12A)",0.96194
18744,"(Q18A, Q14A, Q21A, Q24E, Q17A)","(Q13A, BAIXA, Q12A)",0.854789
18745,"(Q18A, Q21A, Q12A, Q24E, Q17A)","(Q13A, Q14A, BAIXA)",0.894406
18747,"(Q18A, Q21A, Q24E, Q17A)","(Q13A, Q14A, BAIXA, Q12A)",0.842292

In [88]:
df_new.to_csv("regras_notas_baixa.csv", index=False)