# Pre-processing the data

In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 100)

In [2]:
df = pd.read_csv(r'C:/Users/JdMacGyver/Desktop/P_DS/2.DADOS/MICRODADOS_ENADE_2017.txt', sep=';')

C:\Users\JdMacGyver\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (29,31,32,44,45,46,47,54,55,56) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
len(df)

537436

### Retirando universidades privadas

In [4]:
df = df[df['CO_CATEGAD']!=4]

In [5]:
len(df)

344455

### Selecionando alunos do ES

In [6]:
df = df[df['CO_UF_CURSO']==32] # 32 ES

In [7]:
len(df)

6854

### Columns that we are going to use

In [8]:
used_columns = ['NT_GER']

for i in range(1, 27):
    if(i<10):
        used_columns.append('QE_I0{}'.format(i))
    else:
        used_columns.append('QE_I{}'.format(i))

In [9]:
df = df[used_columns]

In [10]:
len(df)

6854

### Removing students who does not attending the test

In [11]:
df.dropna(subset=['NT_GER'], axis=0, inplace=True)

In [12]:
df['NT_GER'] = df['NT_GER'].apply(lambda x: float(x.replace(',','.')))

In [13]:
df.head(5)

,NT_GER,QE_I01,QE_I02,QE_I03,QE_I04,QE_I05,QE_I06,QE_I07,QE_I08,QE_I09,QE_I10,QE_I11,QE_I12,QE_I13,QE_I14,QE_I15,QE_I16,QE_I17,QE_I18,QE_I19,QE_I20,QE_I21,QE_I22,QE_I23,QE_I24,QE_I25,QE_I26
61478,51.9,A,D,A,D,F,A,A,A,B,D,A,A,F,A,A,32.0,B,A,A,K,A,B,E,E,H,A
61479,66.5,A,D,A,D,F,B,A,B,E,C,A,A,E,A,A,32.0,B,A,D,G,A,B,D,A,E,F
61480,23.3,A,A,A,E,D,A,A,C,C,D,A,D,D,A,C,32.0,A,A,B,C,A,C,D,E,H,A
61481,67.2,A,D,A,E,D,D,A,A,A,B,A,A,B,C,E,31.0,A,A,A,H,A,C,C,C,H,A
61482,59.1,A,D,A,B,B,F,A,A,C,A,A,B,F,A,E,32.0,A,B,F,E,B,B,E,D,E,F

### Categorizacao das notas

In [14]:
def cat_notas(df):
    if df['NT_GER'] < 25.0:
        return '0_25'
    elif df['NT_GER'] >= 25.0 and df['NT_GER'] <= 49.9:
        return '25_50'
    elif df['NT_GER'] >= 50.0 and df['NT_GER'] <= 74.9:
        return '50_75'
    else:
        return '75_100'

In [15]:
df['NT_GER'] = df.apply(cat_notas, axis=1)

In [16]:
df.dropna(how='any', inplace=True)

In [17]:
len(df)

5385

In [18]:
df.head(5)

,NT_GER,QE_I01,QE_I02,QE_I03,QE_I04,QE_I05,QE_I06,QE_I07,QE_I08,QE_I09,QE_I10,QE_I11,QE_I12,QE_I13,QE_I14,QE_I15,QE_I16,QE_I17,QE_I18,QE_I19,QE_I20,QE_I21,QE_I22,QE_I23,QE_I24,QE_I25,QE_I26
61478,50_75,A,D,A,D,F,A,A,A,B,D,A,A,F,A,A,32.0,B,A,A,K,A,B,E,E,H,A
61479,50_75,A,D,A,D,F,B,A,B,E,C,A,A,E,A,A,32.0,B,A,D,G,A,B,D,A,E,F
61480,0_25,A,A,A,E,D,A,A,C,C,D,A,D,D,A,C,32.0,A,A,B,C,A,C,D,E,H,A
61481,50_75,A,D,A,E,D,D,A,A,A,B,A,A,B,C,E,31.0,A,A,A,H,A,C,C,C,H,A
61482,50_75,A,D,A,B,B,F,A,A,C,A,A,B,F,A,E,32.0,A,B,F,E,B,B,E,D,E,F

In [19]:
df['QE_I16'] = df['QE_I16'].astype(int)

In [20]:
df['QE_I16'] = df['QE_I16'].apply(str)

In [21]:
df.head(5)

,NT_GER,QE_I01,QE_I02,QE_I03,QE_I04,QE_I05,QE_I06,QE_I07,QE_I08,QE_I09,QE_I10,QE_I11,QE_I12,QE_I13,QE_I14,QE_I15,QE_I16,QE_I17,QE_I18,QE_I19,QE_I20,QE_I21,QE_I22,QE_I23,QE_I24,QE_I25,QE_I26
61478,50_75,A,D,A,D,F,A,A,A,B,D,A,A,F,A,A,32,B,A,A,K,A,B,E,E,H,A
61479,50_75,A,D,A,D,F,B,A,B,E,C,A,A,E,A,A,32,B,A,D,G,A,B,D,A,E,F
61480,0_25,A,A,A,E,D,A,A,C,C,D,A,D,D,A,C,32,A,A,B,C,A,C,D,E,H,A
61481,50_75,A,D,A,E,D,D,A,A,A,B,A,A,B,C,E,31,A,A,A,H,A,C,C,C,H,A
61482,50_75,A,D,A,B,B,F,A,A,C,A,A,B,F,A,E,32,A,B,F,E,B,B,E,D,E,F

In [22]:
colunas = [col for col in df.columns if col != 'NT_GER']

In [23]:
for coluna in colunas:
    for row in df.index:
        df[coluna][row] = (coluna.replace('E_I','')) + df[coluna][row]

In [24]:
df['QE_I16'] = df['QE_I16'].apply(lambda x: x.replace('Q16', 'Q16_'))

In [25]:
df.head(5)

,NT_GER,QE_I01,QE_I02,QE_I03,QE_I04,QE_I05,QE_I06,QE_I07,QE_I08,QE_I09,QE_I10,QE_I11,QE_I12,QE_I13,QE_I14,QE_I15,QE_I16,QE_I17,QE_I18,QE_I19,QE_I20,QE_I21,QE_I22,QE_I23,QE_I24,QE_I25,QE_I26
61478,50_75,Q01A,Q02D,Q03A,Q04D,Q05F,Q06A,Q07A,Q08A,Q09B,Q10D,Q11A,Q12A,Q13F,Q14A,Q15A,Q16_32,Q17B,Q18A,Q19A,Q20K,Q21A,Q22B,Q23E,Q24E,Q25H,Q26A
61479,50_75,Q01A,Q02D,Q03A,Q04D,Q05F,Q06B,Q07A,Q08B,Q09E,Q10C,Q11A,Q12A,Q13E,Q14A,Q15A,Q16_32,Q17B,Q18A,Q19D,Q20G,Q21A,Q22B,Q23D,Q24A,Q25E,Q26F
61480,0_25,Q01A,Q02A,Q03A,Q04E,Q05D,Q06A,Q07A,Q08C,Q09C,Q10D,Q11A,Q12D,Q13D,Q14A,Q15C,Q16_32,Q17A,Q18A,Q19B,Q20C,Q21A,Q22C,Q23D,Q24E,Q25H,Q26A
61481,50_75,Q01A,Q02D,Q03A,Q04E,Q05D,Q06D,Q07A,Q08A,Q09A,Q10B,Q11A,Q12A,Q13B,Q14C,Q15E,Q16_31,Q17A,Q18A,Q19A,Q20H,Q21A,Q22C,Q23C,Q24C,Q25H,Q26A
61482,50_75,Q01A,Q02D,Q03A,Q04B,Q05B,Q06F,Q07A,Q08A,Q09C,Q10A,Q11A,Q12B,Q13F,Q14A,Q15E,Q16_32,Q17A,Q18B,Q19F,Q20E,Q21B,Q22B,Q23E,Q24D,Q25E,Q26F

In [26]:
df.to_csv('ES.csv', index=False)